<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.GDJ32.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.GDJ32.vo.MemberDTO">
        INSERT INTO gdj_member(id, password, name, zipcode, address, address_detail, phone, email, birthday)
        VALUES(#{id}, #{password}, #{name}, #{zipcode}, #{address}, #{address_detail}, #{phone}, #{email}, #{birthday})
    </insert>
    <insert id="insertUserDetail" parameterType="com.GDJ32.vo.MemberDTO">
        INSERT INTO gdj_member_detail (member_index, id) VALUES (#{member_index}, #{id})
    </insert>
    <select id="selectUserByID" resultType="int" parameterType="string">
        SELECT member_index FROM gdj_member WHERE id=#{id}
    </select>
    <select id="userList" resultType="com.GDJ32.vo.MemberDTO">
        SELECT * FROM gdj_member
        ORDER BY id
    </select>
    <select id="fetchUserByID" resultType="com.GDJ32.vo.MemberDTO" parameterType="string">
        SELECT * FROM gdj_member
        WHERE id = #{id}
    </select>
    <delete id="deleteUser" parameterType="int">
        DELETE FROM gdj_member
        WHERE id = #{id}
    </delete>
    <update id="updateUser" parameterType="com.GDJ32.vo.MemberDTO">
        UPDATE gdj_member
        SET password = #{password}, name = #{name}, zipcode = #{zipcode}, address = #{address}, address_detail = #{address_detail}, phone = #{phone}, email = #{email}, birthday = #{birthday}
        WHERE id = #{id}
    </update>
</mapper>