@font-face{
    font-family: "cour";
    src: url("./font/COUR.TTF");
}
@font-face{
    font-family: "courrbd";
    src: url("./font/courrbd.TTF");
}
@font-face{
    font-family: "cafe";
    src: url("./font/cafe.TTF");
}
@font-face{
    font-family: "rr";
    src: url("./font/rr.TTF");
}

